.home-container {
  font-family: 'Arial', sans-serif;
}

.home {
  position: relative;
  background: url('../assets/images/AgricNet.jpg') center center / cover no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

/* Overlay between background image and text */
.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.home-text {
  position: relative;
  z-index: 2;
  animation: fadeIn 1.5s ease-in-out;
}

.line-one {
  font-size: 3rem;
  font-weight: bold;
}

.line-two {
  font-size: 4rem;
  font-weight: bold;
  color: #207a14; /* Cool Green */
}

.home-text p {
  margin-top: 15px;
  margin-bottom: 20px; /* Added margin-bottom for spacing */
  font-size: 1.2rem;
  line-height: 1.8;
  color: #F4F1EA; /* Earthy Beige */
}

.cta-btn {
  background-color: #207a14; /* Cool Green */
  color: #F4F1EA; /* Earthy Beige */
  padding: 12px 25px;
  font-size: 1.1rem;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: #5A3825; /* Deep Brown */
  color: white;
}

.section-details, 
.section-services {
  background-color: #F4F1EA; /* Earthy Beige */
  padding: 50px 20px;
  text-align: center;
}

.section-details h2, 
.section-services h3 {
  font-size: 2.2rem;
  color: #207a14; /* Cool Green */
}

.section-details p, 
.section-services p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #5A3825; /* Deep Brown */
  margin-top: 10px;
}

.service-item {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
  color: #207a14; /* Cool Green */
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .line-one {
    font-size: 2.5rem;
  }

  .line-two {
    font-size: 3rem;
  }

  .cta-btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
